* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
  }
  
  header {
    height: 64px;
    background: #000;
    color: #FFF;
    display: flex;
    justify-content: flex-end;
  }
  
  .menu-sticky{
    position: fixed !important;
    top:1px !important;   
    z-index: 2 !important;
  }
  .sticky-completo{
    background-color: black;
    width: 252px;
    height: 62px;
    position: fixed;
    top:1px;  
    z-index: 2;
  }
  
  #btn-menu {
    display: none;
  }
  
  header label {
    font-size: 30px;
    cursor: pointer;
    display: none;
  }
  
  .menu ul {
    background: #000;
    display: flex;
    list-style: none;
  }
  
  .menu ul ul {
    display: none;
  }
  
  .menu a {
    display: block;
    padding: 15px 20px;
    color: #FFF;
    text-decoration: none;
    line-height: 32px;
    font-family: 'Poiret One', cursive;
    font-weight: 700;
    letter-spacing: 1px;
  }
  
  .menu a:hover {
    background: #E34C91;
  }
  
  .menu a i {
    margin-left: 10px;
  }
  
  .menu ul li:hover ul {
    transition: all 0.3s ease;
    display: block;
    position: absolute;
    z-index: 2;
  }
  
  @media (max-width: 768px) {
    header label {
      display: block;
      padding-top: 16px;
      padding-right: 16px;
      transition: all 0.4s ease;
    }
    
    .menu {
      position: absolute;
      top: 64px;
      left: 0;
      width: 70%;
      transform: translateX(-100%);
      transition: all 0.3s;
    }
    
    .menu ul {
      flex-direction: column;
      /* //display: block; */
    }
    
    .menu ul li:hover ul {
      display: none;
      position: static;
    }
    
    .menu a i {
      position: absolute;
      right: 16px;
      line-height: 32px;
    }
    
    #btn-menu:checked ~ .menu {
      transform: translateX(0%);
    }    
  }

.animation-complete {
  animation-duration: 3s;
  animation-name: inicio;
}

@keyframes inicio {
  from {
    margin-left: 100%;
    width: 300%;
  }
  to {
    margin-left: 0%;
    width: 100%;
  }
}

.position-logo{
    position: absolute;
    top:10px;
}
.position-wsp , .position-carrito{
    width:50px;
    height:50px;  
}
.position-wsp{
    position: absolute;
    top: 10px;   
    left:139px;
}
.position-carrito{
    position: absolute;
    top: 10px;
    left:190px;   
}

.titulo{
    font-family: 'Montserrat', sans-serif;
    margin: 50px auto;
    margin-left:10px;   
}

.line{
    width: 800px;
    height: 5px;
    background-color: black;
    margin-left:10px;
}

.align-center-line{
    margin: 100px auto;
}


.tittle-compras{
    font-family: 'Cinzel', serif;
    text-align: center;
    font-size: 50px;
}

.contenedor-compras {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 250px;
    margin-right: 250px;
  }
  
  .contenedor-interior-compras {
    background-color:white;
    width: 200px;
    height: 400px;
    margin: 10px auto;
    padding: 25px;
  }
  
  .contenedor-interior-compras:hover {
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  }
  
  .compras-img {
    width: 150px;
    height: 150px;
    border-radius: 5%;
  }
  
  .text-final-compras1 {
    font-family: "Poiret One", cursive;
    font-size: 30px;
    text-align: center;
  }
  
  .alignbtn-compras {
    margin-left: 10px;
  }
  
  .compra-producto,  .second-font-carousel {
    font-family: "Poiret One", cursive;
    font-weight: bold;
  }
  
  .descripcion-producto {
    font-family: "Poiret One", cursive;
  }

  .btn-Formato-special {
    background-color: #00FFF3;
    text-align: center;
    color: black;
    font-weight: bold;
    transition: 0.2s;
    margin-top: 5px;
  }
  
  .btn-Formato-special:hover {
    background-color: #00FFF3;
    box-shadow: 0 0 10px #00FFF3, 0 0 20px #00FFF3, 0 0 40px #00FFF3;
  }  

  .position-nav{
      position:fixed;
      top:1px;
  }

  .titulo-fixed{
    position:sticky;
    top:10px;
  }

  .font-carousel{
    font-family: 'Cinzel', serif;
  }

  .redsocial{
    width: 40px;
    height: 40px;
  }

  .boxfooter{
    height: 200px;
    background-color: black;
    color: white;
    padding:40px;      
   
  }

  .font-foot{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
  }

  .flex-final{
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 12px;
    font-family:  'Cinzel', serif;
  }

  /*Prueba carrito*/
  
  .box {
    width: 40%;
    margin: 0 auto;  
    padding: 35px;   
    border-radius: 20px/50px;
    background-clip: padding-box;
    text-align: center;
  }
  
  .button {
    font-size: 1em;   
    border-radius: 20px/50px;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease-out;
  }
  .button:hover {
    background: #06D85F;
  }
  
  .overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
  }
  .overlay:target {
    visibility: visible;
    opacity: 1;
  }
  
  .popup {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 30%;
    position: relative;
    transition: all 5s ease-in-out;
   
  }
  
  .popup h2 {
    margin-top: 0;
    color: #333;
    font-family: 'Montserrat', sans-serif;
  }
  .popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
  }
  .popup .close:hover {
    /* color: #06D85F; */
  }
  .popup .content {
    max-height: 30%;
    overflow: auto;
  }
  
  @media screen and (max-width: 700px){
    .box{
      width: 70%;
    }
    .popup{
      width: 70%;
    }
  }
/*Fin chango*/



  @media only screen and (max-width: 400px) {

    .sticky-completo{     
      position: static;
      top: none;
      z-index: none;
      width: 252px;
      height: 0px;
    }

    .menu-sticky{
      position: fixed !important;
      top:1px !important;   
      z-index: 2 !important;
    }

    .line{
      width: 100%;
      height: 3px;      
  }
   
  .tittle-compras{
    font-size: 30px;
  }

  .contenedor-compras {   
    margin-left: 75px;
   
  }

  .font-final{
    font-size: 10px;
  }

  }

  @media only screen and (min-width: 401px) and (max-width: 960px) {

    .menu-sticky{
      position: fixed !important;
      top:1px !important;   
      z-index: 2 !important;
    }

    .line{
      width: 100%;
      height: 3px;      
  }
   
  .tittle-compras{
    font-size: 30px;
  }

  .contenedor-compras {   
    margin-left: 95px;
   
  }

  .font-final{
    font-size: 10px;
  }

  }

  